{% set post = __SELF__.post %}

<div class="row">
    <div class="col-sm-12">
        <small>
            Date de parution : {{ post.published_at|date('d-m-Y') }}
            {% if post.categories.count %} dans : {% endif %}
            {% for category in post.categories %}
                <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}

        </small>
        <div class="row">
            <div class="col-sm-12">
                {% if post.featured_images.count %}
                    <div class="featured-images text-center">
                        <img class="img-responsive"
                             data-src="{{ post.featured_images.0.filename }}"
                             src="{{ post.featured_images.0.path }}"
                             alt="{{ post.featured_images.0.description }}"/>

                    </div>
                {% endif %}
            </div>

        </div>
        <div class="row all-top-buffer">
            <div class="col-sm-12">
                {{ post.content_html|raw }}
            </div>

        </div>
        <div class="row all-top-buffer">
            {% if post.featured_images.count %}
                {% for image in post.featured_images %}
                    {% if loop.index != 1 %}
                        <div class="col-sm-3 text-center">
                            <img
                                    data-src="{{ image.filename }}"
                                    src="{{ image.path }}"
                                    alt="{{ image.description }}"
                                    style="max-width: 100%"/>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>





