body {
  background-color: #000000;
  padding-top: 110px;
}

header .navbar-default {
  ul.nav li a:hover {
    border-bottom: 3px solid @brand-primary;
  }
}

header .navbar-brand {
  width: 250px;
  padding: 10px 15px!important;
}

footer {
  min-height: 90px;
  color: #fff;
  i {
    color: #fff;
    background-color: @brand-primary;
  }
}