==
{% if render_post %}
    {% component 'proBlogPost' %}
{% else %}
    <div class="row">
        {% for post in blogPosts %}
            <div class="col-sm-6 col-md-4 mobile-top-buffer item-list">

                <h4>
                    <a href="{{ __SELF__.postRender(post.parent)|page({'filter': category_slug, 'slug': post.slug }) }}/">{{ post.title }}</a>
                </h4>
                <small>Date de la formation: {{ post.date_event|date('d-m-Y') }}</small>
                {% if post.video|length > 1 %}
                    <div class="embed-responsive embed-responsive-16by9">
                        {{ post.video|raw }}
                    </div>
                {% else %}
                    <div>
                        <img src="{{ post.featured_images.0.path }}" class="img-responsive">
                    </div>
                {% endif %}
                <p class="all-top-buffer"># Places disponible: {{ post.available }}</p>

                <p class="little-top-buffer">
                    {{ post.excerpt }}
                </p>

                <div class="all-top-buffer text-right">
                    <!--  {% if post.available > 0 %}
                           <a href="#" class="btn-sm btn-space"
                              data-toggle="modal" data-target="#incriptions"
                              data-id="{{ post.id }}"
                              data-name="{{ post.title }}">
                               M'inscrire
                           </a>
                       {% endif %}-->
                       <a href="{{ __SELF__.postRender(post.parent)|page({'filter': category_slug, 'slug': post.slug }) }}/"
                          class="btn btn-primary btn-sm">
                           En savoir plus
                       </a>
                   </div>
               </div>
           {% else %}
               <div class="col-sm-12">Aucune conférence trouvé</div>
           {% endfor %}
       </div>
       {% if pagination > 0 %}
           <div class="row all-top-buffer">
               <div class="col-sm-12 text-right">
                   {{ blogPosts.render|raw }}
               </div>
           </div>

       {% endif %}
   {% endif %}