description = "Featured"
==
<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center">Alliance Éducation c'est</h1>
    </div>
</div>
<div class="row all-top-buffer">
    <div class="col-sm-12">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                    src="https://www.youtube.com/embed/qAATOaULpYI"
                    frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

</div>
<div class="row little-top-buffer">
    <div class="col-sm-12">
        <h3 class="text-primary">Une vision devenue réalité!</h3>
        <p>C’est une entreprise de coaching familial visant à supporter et outiller les
            parents ainsi que les enfants vivant des problématiques diverses. Ce sont aussi des ateliers et des
            conférences portant sur plusieurs sujets entourant la parentalité. L’objectif d’Alliance Éducation est
            de rejoindre le plus de familles possible afin de faire une différence positive dans la vie d’un maximum
            de personnes. Le respect est au cœur de l’ensemble des services offerts par l’entreprise. Ici, on
            cultive l’espoir, on croit qu’avec de la volonté, du support et des outils, il est toujours possible de
            cheminer et de progresser dans notre réalité familiale. Alliance Éducation, c’est un phare pour vous
            éclairer et une main pour vous soutenir dans cette aventure parentale.</p>

    </div>
</div>