description = "Services"
==
<div id="header-services" class="section-header">
    <div class="jumbotron">
        <div class="container">
            <h1>Nos services</h1>
        </div>
    </div>
</div>
<div class="content-services">
    <div class="container ">

        <!-- Services -->

        <div class="row top-buffer-lg">
            <div class="col-sm-12 col-md-3">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-10 col-md-offset-1">
                        <img class="round-image img-responsive center-block"
                             src="{{ 'assets/images/ae-client-about.jpg'|theme }}">
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-9 tablet-top-buffer mobile-top-buffer">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Les services de coaching familial offert par Alliance Éducation sont d’abord des services
                            professionnels et personnalisés à domicile. Ils permettent à chaque famille d’avoir accès à
                            des interventions ou des pistes de solutions qui répondent à leur réalité unique.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h3>La clientèle ciblée par les services :</h3>

                        <p>Parents et enfants âgés de 0-12 ans</p>
                    </div>
                    <div class="col-sm-6 tablet-top-buffer mobile-top-buffer">
                        <h3>Offre de l’aide pour différente problématiques :</h3>
                        <ul>
                            <li>Encadrement éducatif</li>
                            <li>Routine et autonomie</li>
                            <li>Gestions des émotions</li>
                            <li>Stress/anxiété</li>
                            <li>Troubles de comportements</li>
                            <li>Et bien plus!</li>
                        </ul>
                    </div>
                </div>
                <div class="row all-top-buffer">
                    <div class="col-sm-12 text-right">
                        <a href="" class="btn btn-secondary">Nos services</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="top-buffer-lg"></div>
    </div>
</div>
