description = "Services"
==
<div id="header-services" class="section-header">
    <div class="jumbotron">
        <div class="container">
            <h1>Vous arrive-t-il de vous sentir à bout de souffle en tant que parent?</h1>
        </div>
    </div>
</div>
<div class="content-services">
    <div class="container ">

        <!-- Services -->

        <div class="row top-buffer-lg top-buffer-md top-buffer-sm">
            <div class="col-sm-12 col-md-3">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-10 col-md-offset-1">
                        <br>
                        <img class="round-image img-responsive center-block"
                             src="{{ 'assets/images/ae-client-about.jpg'|theme }}" alt="Nathalie Miron, propriétaire d'Alliance Éducation et coach familial">
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-9 tablet-top-buffer mobile-top-buffer">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 style="color: #ffffff"> Aimeriez-vous que vos enfants vous écoutent davantage et que votre relation avec eux soit plus positive?</h3>
                        <h4 class="all-top-buffer">Est-ce qu'il vous arrive de ne plus savoir quoi faire devant certains de leurs comportements?</h4>
                        <h2 class="text-primary all-top-buffer">N'ayez crainte, Alliance Éducation est là pour vous!!!</h2>
                        <p class="all-top-buffer">Les services de coaching familial offerts par l'entreprise sont d'abord des services professionnels et personnalisés à domicile.
                            Ils permettent à chaque famille d'avoir accès à des interventions ou des pistes de solutions qui répondent à leur réalité unique.</p>
                    </div>
                </div>
                <br><br>
                <div class="col-sm-12 text-right">
                    <a href="{{ 'services'|page }}" class="btn btn-secondary" title="Découvrez les services d'Alliance Éducation">Découvrez nos services</a>
                </div><br><br>
                <div class="top-buffer-lg"></div>
            </div>
        </div>



    </div>
</div>
