//
// Pages
//
// Styles specific to individual pages.
//

@import "home";

.wrap-page {
  position: relative;
}

.page-about {
  section.mission {
    background-image: url('../images/dummypicture_84164242.jpg');
    h2, p {
      color: #fff;
    }
  }
}