<div class="container">
    <div class="row all-top-buffer">
        <div class="col-sm-8 col-xs-12 text-left">
            <span>&copy; 2015 Alliance Éducations - Réalisation par <a href="#" target="_blank">Bêtes curieuses
                    Design</a></span>
        </div>
        <div class="col-sm-4 hidden-xs text-right">
            Nous suivre sur&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="" class="btn btn-primary btn-sm">
                &nbsp;&nbsp;<i class="fa fa-facebook fa-2x"></i>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="" class="btn btn-primary btn-sm">
                <i class="fa fa-youtube fa-2x" ></i>
            </a>

        </div>
    </div>
</div>
