<div class="container">
    <div class="row all-top-buffer">
        <div class="col-sm-8 col-xs-12 text-left">
            <span style="color: #D7DBDB">&copy; 2015 Alliance Éducations - Réalisation par <a href="#" target="_blank">Bêtes Curieuses
                    Design</a></span>
        </div>
        <div class="col-sm-4 hidden-xs text-right">
            Nous suivre sur&nbsp;&nbsp;&nbsp;
            <div style="float: right">
            <div style="float: left; padding-right: 10px;">
                <a href="https://www.facebook.com/nathaliemironcoachfamilial/" target="_blank">
                    <img class="img-responsive footer-image" width="35px"
                         src="{{ 'assets/images/facebook-icon.png'|theme }}">
                </a>
            </div>
            <div style="float: left;">
            <a href="https://www.youtube.com/channel/UCasrEw-DwD318GFNAaH2cRQ" target="_blank">
            <img class="img-responsive footer-image" width="35px"
                 src="{{ 'assets/images/youtube-icon.png'|theme }}">
            </a>
            </div>
            </div>
        </div>
    </div>
</div>
