<div class="confirm-container">
    <!--This will contain the confirmation when the email is successfully sent-->
</div>
<h3>Formulaire pour me contacter</h3>
<form class="flexiContactForm" role="form"
      data-request="{{ __SELF__ }}::onMailSent"
      data-request-update="'{{ __SELF__ }}::confirm': '.confirm-container'">
    <div class="form-groups">
        <div class="row all-top-buffer">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Votre nom et prénom</label>
                    <input type="text" class="form-control" value="" name="name" required
                           placeholder="Nom et prénom">
                </div>
                <div class="form-group">
                    <label>Votre courriel</label>
                    <input type="text" class="form-control" value="" name="email" required
                           placeholder="courriel">
                </div>
                <div class="form-group">
                    <label>Sujet</label>
                    <input type="text" class="form-control" value="" name="subject" required
                           placeholder="Enter Sujet">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Votre message</label>
            <textarea class="form-control" value="" name="body" placeholder="Message" required
                      rows="9" style="resize: none"></textarea>
                </div>
                <button type="submit" class="btn btn-primary pull-right top-buffer mobile-top-buffer">Soumettre</button>
            </div>
        </div>
    </div>
</form>